.contacts {
  display: flex;
  align-items: center;
  gap: 40px;
}

.contacts__link {
  display: flex;
  align-items: center;

  height: 80px;

  color: var(--accent-color);

  text-decoration: none;
  font-size: 14px;
  font-weight: 500;

  transition: 0.3s;
}

.contacts__link:focus,
.contacts__link:hover {
  color: var(--main-color);
}

.contacts__link--footer {
  text-decoration: none;

  line-height: 24px;

  color: var(--accent-color);

  transition: 0.3s;
}

.contacts__link--footer:hover,
.contacts__link--footer:focus {
  color: var(--main-color);
}
