.contact {
  display: flex;
  align-items: center;
  gap: 40px;
}

.contact__link {
  display: flex;
  align-items: center;

  color: var(--accent-color);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;

  height: 80px;

  text-decoration: none;
}

.contact__link:focus,
.contact__link:hover {
  color: var(--main-color);
}

.contact__link--footer {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.42px;

  text-decoration: none;
}

.contact__link--footer:focus,
.contact__link--footer:hover {
  color: var(--main-color);
}
