.features__list {
  display: flex;
  justify-content: space-between;

  list-style: none;
}

.features__title {
  font-size: 14px;

  text-transform: uppercase;

  color: var(--secondary-color);
}

.features__text {
  margin-top: 10px;

  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;

  color: var(--accent-color);

  width: 270px;
}
