.footer {
  padding: 60px 0;

  height: 251px;

  background-color: var(--background-color);
}

.footer__content {
  display: flex;
  flex-direction: column;
  gap: 9px;
}

.footer__logo {
  margin: 0 0 20px;

  display: inline-flex;
}

.address {
  line-height: 24px;

  color: #fff;
}
