.hero {
  padding: 0;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;

  height: 600px;
  width: 100%;

  background-color: var(--background-color);
}

.hero__main-title {
  font-size: 44px;
  font-weight: 900;

  text-align: center;
  line-height: 60px;
  text-transform: uppercase;

  width: 696px;

  color: #fff;
}
