.logo {
  display: flex;
  align-items: center;
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;

  text-decoration: none;
}

.logo__web {
  color: var(--main-color);
}

.logo__studio {
  color: #fff;
}

.logo__studio--black {
  color: #000;
}

.logo--footer {
  max-width: 145px;
}
