.nav {
  display: flex;
  gap: 93px;
}

.nav__list {
  display: flex;
  align-items: center;
  list-style: none;

  gap: 50px;
}

.nav__link {
  display: flex;
  align-items: center;

  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;

  color: var(--secondary-color);

  height: 80px;

  text-decoration: none;

  transition: 0.3s;
}

.nav__link:focus,
.nav__link:hover {
  color: var(--main-color);
}
