.projects__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;

  list-style: none;
}
.projects__image {
  width: 370px;
  height: 294px;

  vertical-align: top;
}
.projects__title {
  font-size: 18px;

  line-height: 36px;
  letter-spacing: 1.08px;

  color: var(--secondary-color);
}

.projects__text {
  line-height: 30px;
  letter-spacing: 0.48px;

  color: var(accept-color);
}

.projects__border {
  padding: 20px 24px 20px 24px;

  border: 1px solid #eee;

  background: #fff;
}
