.section__title {
  margin-bottom: 50px;

  text-align: center;

  font-size: 36px;
  font-weight: 700;

  color: var(--secondary-color);
}

.services__list {
  display: flex;
  justify-content: center;
  gap: 30px;

  list-style: none;
}

.services__image {
  width: 370px;
  height: 294px;
}
