.projects--section {
  padding: 0 0 94px 0;
}

.projects__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;

  list-style: none;
}

.projects__list:not(:last-child) {
  margin-bottom: 30px;
}

.projects__image {
  display: flex;

  vertical-align: top;

  width: 370px;
  height: 294px;
}

.projects__border {
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;

  background: #fff;

  padding: 20px 24px 20px 24px;
}

.projects__title {
  margin-bottom: 4px;

  line-height: 36px;
  font-size: 18px;
  font-weight: 700;

  color: var(--secondary-color);
}

.projects__text {
  font-size: 16px;
  line-height: 30px;

  color: var(--accent-color);
}
