.our-clients {
    margin-bottom: 94px;
}

.clients-list {
    display: flex;
    list-style-type: none;
    gap: 30px;
}

.client {
    padding: 16px 32px 16px;
    border-radius: 4px;
    border: 1px solid #AFB1B8;
}